.main {
  max-width: 1230px;
  width: 100%;
  margin: 74px 51px;
  height: 600px;
  display: flex;
  justify-content: space-between;

}

@media (max-width:800px) {
  .main {
    flex-direction: column;
    gap: 1em;
  }
}