@import url(/src/assets/global.css);

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 12px;
  gap: 8px;

  width: 254px;
  height: 40px;

  /* grey level 2 */

  background: var(--background);
  border-radius: 14px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.name {
  width: 70px;
  height: 20px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* primary text_selection */

  color: #FFFFFF;


  /* Inside auto layout */

}

.rate {
  width: 120px;
  height: 20px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #0AC18E;
}