@import url(../../assets/global.css);

.main {
  background: #282A31;
  flex-grow: 1;
  min-height: 1004px;
  border-radius: 32px 0px 0px 32px;
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  padding: 24px 64px;
  max-width: 1331px;
}

.titleRow h1 {

  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.refreshIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 40px;
  height: 40px;
  background: var(--background);
  border-radius: 14px;
  cursor: pointer;
}

.refreshIcon img {
  filter: invert(100%) sepia(41%) saturate(130%) hue-rotate(111deg) brightness(109%) contrast(101%);
}

.cards {
  width: 100px;
  max-width: 1230px;
  height: 600px;
  margin: 74px 51px;
  background-color: wheat;
}

.bottomNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px;
  gap: 10px;


  /* background */

  background: #000000;
  border-radius: 39px;
}