.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 108px;
}


.logo {
  height: 88px;
  width: 88px;
}

.nav {
  display: flex;
  flex-direction: column;

}

.nav img {
  width: 24px;
  height: 24px;
  margin: 32px
}

.notification {

  width: 104px;
  height: 88px;
}