@import '../../assets/global.css';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  min-height: 100vh;
  background-color: var(--background);
}



.logo {
  margin: 50px 36px 0;
  width: 36px;
  height: 36px;
  filter: invert(100%) sepia(41%) saturate(130%) hue-rotate(111deg) brightness(109%) contrast(101%);

}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 108px;
  height: 264px;

}



.notification {
  margin: 0 68px 42px;

  width: 24px;
  height: 24px;
  position: relative;

}

.notification:hover>img {
  filter: invert(100%) sepia(2%) saturate(130%) hue-rotate(111deg) brightness(109%) contrast(101%);
}

.notification>img {
  cursor: pointer;
  filter: invert(42%) sepia(2%) saturate(0%) hue-rotate(147deg) brightness(89%) contrast(81%);
}

.notification:active {
  transform: translateY(1px);
  user-select: none;
}

.notification::after {
  content: '';
  position: absolute;
  right: 2.5px;
  top: 2.6px;

  width: 7px;
  height: 7px;

  background: #FFFFFF;
  border-radius: 50%;


  z-index: 3;
}