.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 108px;
  min-height: 100%;

}


.logo {

  width: 36px;
  height: 36px;
}

.nav {
  display: flex;
  flex-direction: column;

  width: 108px;
  height: 264px;
}

.nav img {
  width: 24px;
  height: 24px;
  margin: 32px
}

.notification {

  width: 24px;
  height: 24px;
}